@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding: 0;
    margin: 0;
  }
}
